@if (order$ | async; as orderDetail) {
<app-header-page-container [title]="'Xử lý đơn hàng'" (goBack)="goBackOrderDetail()"></app-header-page-container>
<div class="order-detail-container">
  <!-- Order Info -->
  <mat-card class="order-info">
    <mat-card-content>
      <div class="order-info-row horizontal-container">
        <div class="order-info-item horizontal-container">
          <span class="label">Ngày đặt:</span>
          <span class="value">{{orderDetail.createdAt | date:'dd/MM/yyyy HH:mm'}}</span>
        </div>
        <div class="order-info-item horizontal-container">
          <span class="label">Người đặt:</span>
          <span class="value">
            <div [appOrderFromColor]="orderDetail.orderFrom">
              <mat-chip selected>
                {{orderDetail.orderFrom | orderFromTranslate}}
              </mat-chip>
            </div>
          </span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Order Status & Payment -->
  <div class="order-status">
    <app-order-form-status [status]="orderDetail.status" [paymentMethod]="orderDetail.paymentMethod"
      [isDisabled]="!(canModifyOrderStatus$ | async)"
      (paymentMethodChange)="onPaymentMethodChange($event)"></app-order-form-status>
  </div>

  <!-- Order Items -->
  <div class="order-item">
    <app-order-form-item [orderItems]="orderDetail.orderItems" [isDisabled]="!(canModifyOrderStatus$ | async)"
      (orderItemsWillChangeEmit)="onChangeOrderItems($event)"></app-order-form-item>
  </div>

  <!-- Delivery Information -->
  <div class="delivery-info">
    <app-order-form-delivery [orderDelivery]="orderDetail.delivery" [isDisabled]="!(canModifyOrderStatus$ | async)"
      (deliveryWillChangeEmit)="onChangeDelivery($event)"></app-order-form-delivery>
  </div>

  <!-- Order Note -->
  <mat-card class="order-note" *ngIf="orderDetail.note">
    <mat-card-header>
      <mat-card-title>Ghi chú đơn hàng</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{orderDetail.note}}</p>
    </mat-card-content>
  </mat-card>

  <!-- Order Summary -->
  <div>
    <app-order-form-total [orderDetail]="orderDetail" [orderItemsWillChange]="bOrderItemsWillChange.getValue()"
      [isDisabled]="!(canModifyOrderStatus$ | async)"
      (orderTotalChangeEmit)="onOrderTotalChange($event)"></app-order-form-total>
  </div>

  <!-- Action Buttons -->
  <div class="action-buttons">
    @if(orderParamUpdate$ | async){
    <button mat-raised-button color="primary" (click)="processOrder(orderDetail)"
      [disabled]="!(canModifyOrderStatus$ | async) && !(orderParamUpdate$ | async)">
      <mat-icon>update</mat-icon>
      Cập nhật
    </button>
    }@else {
      @if (nextPossiblestate$ | async; as nextPossiblestate) {
      @if (nextPossiblestate[0]; as nextStatus) {
      <button mat-raised-button color="primary" (click)="nextOrderStatus(orderDetail, nextStatus)">
        <mat-icon>skip_next</mat-icon>
        Trạng thái tiếp theo ({{ nextStatus | orderStatusTranslate }})
      </button>
      }
      @if(nextPossiblestate[1]; as cancelStatus) {
      <button mat-raised-button color="warn" (click)="cancelOrder(orderDetail)">
        <mat-icon>cancel</mat-icon>
        Hủy đơn hàng
      </button>
      }
      }
    }

  </div>
</div>
}