<div class="container vertical-container">
  <h2 mat-dialog-title>Trạng thái đơn hàng</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Chọn trạng thái đơn hàng</mat-label>
      <mat-select [formControl]="paymentMethodControl">
        @for (paymentMethod of paymentMethods; track $index) {
        <mat-option [value]="paymentMethod" [disabled]="paymentMethod === data">{{paymentMethod | orderPaymentMethodTranslate}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Trở lại</button>
    <button mat-button [disabled]="paymentMethodControl.invalid" (click)="choosePaymentMethod()" cdkFocusInitial>Hoàn
      thành</button>
  </mat-dialog-actions>
</div>