<div role="main" class="container" [class.example-is-mobile]="isMobile$ | async">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">{{ title$ | async }}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="(isMobile$ | async) ? 'over' : 'side'" [fixedInViewport]="true"
      fixedTopGap="64">
      @if (userInformation$|async; as user) {
      <app-menu-header [user]="user"></app-menu-header>
      }
      <mat-nav-list>
        @for (nav of menu; track $index) {
        @if (!!nav.children?.length) {
        <mat-expansion-panel
          hideToggle
          #expansionPanel
          [appAutoExpand]="nav.children"
          routerLinkActive="active-parent-menu"
          [routerLinkActiveOptions]="{ exact: false }">
          <mat-expansion-panel-header>
            <mat-list-item>
              @if (!!nav.icon?.fontSet && !!nav.icon?.fontIcon) {
              <mat-icon [fontSet]="nav.icon!.fontSet" [fontIcon]="nav.icon!.fontIcon" matListItemIcon></mat-icon>
              }
              {{ nav.name }}
              <div matListItemMeta>
                <mat-icon>{{expansionPanel.expanded ? 'expand_less' : 'expand_more'}}</mat-icon>
              </div>
            </mat-list-item>
          </mat-expansion-panel-header>

          @for (child of nav.children; track $index) {
          <mat-list-item role="listitem" [routerLink]="child.route" routerLinkActive="active-menu-item"
            [routerLinkActiveOptions]="{ exact: false }" (click)="snav.close()">
            {{ child.name }}
          </mat-list-item>
          }
        </mat-expansion-panel>
        }@else {
        <mat-list-item role="listitem" [routerLink]="nav.route" routerLinkActive="active-menu-item"
          [routerLinkActiveOptions]="{ exact: false }" (click)="snav.close()">
          @if (!!nav.icon?.fontSet && !!nav.icon?.fontIcon) {
          <mat-icon [fontSet]="nav.icon!.fontSet" [fontIcon]="nav.icon!.fontIcon" matListItemIcon></mat-icon>
          }
          {{ nav.name }}
        </mat-list-item>
        }
        }

        <!-- Logout -->
        <div class="bottom-container">
          <mat-divider></mat-divider>
          <mat-list-item (click)="logout()">
            <mat-icon matListItemIcon>logout</mat-icon>
            Đăng xuất
          </mat-list-item>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>