.container {
  padding: 15px;

  form {
    max-width: 400px;
  }
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: max(16px, var(--mdc-shape-small, 4px)) !important;
}