@if(formGroup){
  <app-header-page-container
  (goBack)="goBackProducDetail()"
  [title]="product?._id ? 'Chi tiết sản phẩm' : 'Tạo sản phẩm'"
  ></app-header-page-container>
<mat-card>
  <mat-card-content>
    <div class="horizontal-container">
      <form [formGroup]="formGroup" class="vertical-container">
        <!-- Thông tin sản phẩm cơ bản -->
        <mat-form-field>
          <mat-label>Tên sản phẩm</mat-label>
          <input matInput placeholder="Tên sản phẩm" formControlName="name" required>
          <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
            Tên sản phẩm là bắt buộc
          </mat-error>
          <mat-error *ngIf="formGroup.get('name')?.hasError('minlength')">
            Tên sản phẩm phải có ít nhất 3 ký tự
          </mat-error>
          <mat-error *ngIf="formGroup.get('name')?.hasError('maxlength')">
            Tên sản phẩm không được quá 100 ký tự
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mô tả ngắn</mat-label>
          <textarea matInput placeholder="Mô tả ngắn sản phẩm" formControlName="shortDescription" cdkTextareaAutosize
            cdkAutosizeMinRows="2" cdkAutosizeMaxRows="4" required></textarea>
          <mat-error *ngIf="formGroup.get('shortDescription')?.hasError('required')">
            Mô tả ngắn là bắt buộc
          </mat-error>
          <mat-error *ngIf="formGroup.get('shortDescription')?.hasError('minlength')">
            Mô tả ngắn phải có ít nhất 10 ký tự
          </mat-error>
          <mat-error *ngIf="formGroup.get('shortDescription')?.hasError('maxlength')">
            Mô tả ngắn không được quá 200 ký tự
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mô tả chi tiết</mat-label>
          <textarea matInput placeholder="Mô tả chi tiết sản phẩm" formControlName="description" cdkTextareaAutosize
            cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9" required></textarea>
          <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
            Mô tả chi tiết là bắt buộc
          </mat-error>
          <mat-error *ngIf="formGroup.get('description')?.hasError('minlength')">
            Mô tả chi tiết phải có ít nhất 10 ký tự
          </mat-error>
          <mat-error *ngIf="formGroup.get('description')?.hasError('maxlength')">
            Mô tả chi tiết không được quá 1000 ký tự
          </mat-error>
        </mat-form-field>

        <!-- Giá và tồn kho -->
        <mat-form-field>
          <mat-label>Giá</mat-label>
          <input matInput type="tel" inputmode="numeric" mask="separator.0" thousandSeparator="." suffix=" VND"
            [allowNegativeNumbers]="false" placeholder="Giá sản phẩm" formControlName="price" required>
          <mat-error *ngIf="formGroup.get('price')?.hasError('required')">
            Giá sản phẩm là bắt buộc
          </mat-error>
          <mat-error *ngIf="formGroup.get('price')?.hasError('min')">
            Giá sản phẩm phải lớn hơn 0.01
          </mat-error>
        </mat-form-field>
        
        <section>
          <mat-checkbox formControlName="inStock">
            Còn hàng
          </mat-checkbox>
        </section>

        <mat-form-field appearance="fill">
          <mat-label>Danh mục</mat-label>
          <input #productCategoryEl type="text" matInput [matAutocomplete]="productCategoryElAuto" (blur)="onProductCategoryBlur($event)">
          <mat-autocomplete #productCategoryElAuto="matAutocomplete" (optionSelected)="onCategoryOptionSelected($event)">
            @for (productCategory of productCategory$ | async; track productCategory) {
            <mat-option [value]="productCategory">{{productCategory.name}}</mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.get('productCategoryId')?.hasError('required')">
            Danh mục là bắt buộc
          </mat-error>
        </mat-form-field>
      </form>

      <section class="album-container">
        <app-choose-media-product [mediaId]="formGroup.get('albumId')?.value"
          (mediaProductEmit)="handleMediaProduct($event)"></app-choose-media-product>
      </section>
    </div>
  </mat-card-content>
  <mat-card-actions>
    @if (product?._id) {
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
      [disabled]="formGroup.invalid || !(isFormChanged$ | async)">
      Lưu
    </button>
    }@else {
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="formGroup.invalid ">
      Tạo
    </button>
    }
  </mat-card-actions>
</mat-card>
}