@if(formGroup){
<app-header-page-container (goBack)="goBackProducDetail()"
  [title]="product?._id ? 'Chi tiết sản phẩm' : 'Tạo sản phẩm'"></app-header-page-container>
<mat-card>
  <mat-card-content>
    <div class="horizontal-container">
      <form [formGroup]="formGroup" class="vertical-container">
        <!-- Nhóm sản phẩm đa ngôn ngữ -->
        <fieldset>
          <legend>Tên sản phẩm</legend>
          <div class="multi-lang-fields" formGroupName="name">
            <mat-form-field>
              <mat-label>Tiếng Việt (VI)</mat-label>
              <input matInput placeholder="Tên tiếng Việt" formControlName="vi" required>
              <mat-error *ngIf="formGroup.get('name.vi')?.hasError('required')">
                Bắt buộc nhập tên tiếng Việt
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.vi')?.hasError('minlength')">
                Tên sản phẩm phải có ít nhất 1 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.vi')?.hasError('maxlength')">
                Tên sản phẩm không được quá 100 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Anh (EN)</mat-label>
              <input matInput placeholder="Tên tiếng Anh" formControlName="en">
              <mat-error *ngIf="formGroup.get('name.en')?.hasError('required')">
                Bắt buộc nhập tên tiếng Anh
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.en')?.hasError('minlength')">
                Tên sản phẩm phải có ít nhất 1 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.en')?.hasError('maxlength')">
                Tên sản phẩm không được quá 100 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Nhật (JA)</mat-label>
              <input matInput placeholder="Tên tiếng Nhật" formControlName="ja">
              <mat-error *ngIf="formGroup.get('name.ja')?.hasError('required')">
                Bắt buộc nhập tên tiếng Nhật
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.ja')?.hasError('minlength')">
                Tên sản phẩm phải có ít nhất 1 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('name.ja')?.hasError('maxlength')">
                Tên sản phẩm không được quá 100 ký tự
              </mat-error>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset>
          <legend>Mô tả ngắn</legend>
          <div class="multi-lang-fields" formGroupName="shortDescription">
            <mat-form-field>
              <mat-label>Tiếng Việt (VI)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Việt" formControlName="vi" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9" required></textarea>
              <mat-error *ngIf="formGroup.get('shortDescription.vi')?.hasError('required')">
                Mô tả tiếng Việt là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.vi')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.vi')?.hasError('maxlength')">
                Mô tả không được quá 1000 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Anh (EN)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Anh" formControlName="en" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9"></textarea>
              <mat-error *ngIf="formGroup.get('shortDescription.en')?.hasError('required')">
                Mô tả tiếng Anh là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.en')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.en')?.hasError('maxlength')">
                Mô tả không được quá 1000 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Nhật (JA)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Nhật" formControlName="ja" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9"></textarea>
              <mat-error *ngIf="formGroup.get('shortDescription.ja')?.hasError('required')">
                Mô tả tiếng Nhật là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.ja')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('shortDescription.ja')?.hasError('maxlength')">
                Mô tả không được quá 1000 ký tự
              </mat-error>
            </mat-form-field>
          </div>
        </fieldset>

        <fieldset>
          <legend>Mô tả chi tiết</legend>
          <div class="multi-lang-fields" formGroupName="description">
            <mat-form-field>
              <mat-label>Tiếng Việt (VI)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Việt" formControlName="vi" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9" required></textarea>
              <mat-error *ngIf="formGroup.get('description.vi')?.hasError('required')">
                Mô tả tiếng Việt là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.vi')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.vi')?.hasError('maxlength')">
                Mô tả không được quá 10000 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Anh (EN)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Anh" formControlName="en" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9"></textarea>
              <mat-error *ngIf="formGroup.get('description.en')?.hasError('required')">
                Mô tả tiếng Anh là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.en')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.en')?.hasError('maxlength')">
                Mô tả không được quá 10000 ký tự
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Tiếng Nhật (JA)</mat-label>
              <textarea matInput placeholder="Mô tả tiếng Nhật" formControlName="ja" cdkTextareaAutosize
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="9"></textarea>
              <mat-error *ngIf="formGroup.get('description.ja')?.hasError('required')">
                Mô tả tiếng Nhật là bắt buộc
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.ja')?.hasError('minlength')">
                Mô tả phải có ít nhất 10 ký tự
              </mat-error>
              <mat-error *ngIf="formGroup.get('description.ja')?.hasError('maxlength')">
                Mô tả không được quá 10000 ký tự
              </mat-error>
            </mat-form-field>
          </div>
        </fieldset>

        <!-- Giá và tồn kho -->
        <mat-form-field>
          <mat-label>Giá</mat-label>
          <input matInput type="tel" inputmode="numeric" mask="separator.0" thousandSeparator="." suffix=" VND"
            [allowNegativeNumbers]="false" placeholder="Giá sản phẩm" formControlName="price" required>
          <mat-error *ngIf="formGroup.get('price')?.hasError('required')">
            Giá sản phẩm là bắt buộc
          </mat-error>
          <mat-error *ngIf="formGroup.get('price')?.hasError('min')">
            Giá sản phẩm phải lớn hơn 0.01
          </mat-error>
        </mat-form-field>

        <section>
          <mat-checkbox formControlName="inStock">
            Còn hàng
          </mat-checkbox>
        </section>

        <mat-form-field appearance="fill">
          <mat-label>Danh mục</mat-label>
          <input #productCategoryEl type="text" matInput [matAutocomplete]="productCategoryElAuto"
            (blur)="onProductCategoryBlur()">
          <mat-autocomplete #productCategoryElAuto="matAutocomplete"
            (optionSelected)="onCategoryOptionSelected($event)">
            @for (productCategory of productCategory$ | async; track productCategory) {
            <mat-option [value]="productCategory">{{productCategory.name['vi']}}</mat-option>
            }
          </mat-autocomplete>
          <mat-error *ngIf="formGroup.get('productCategoryId')?.hasError('required')">
            Danh mục là bắt buộc
          </mat-error>
        </mat-form-field>
      </form>

      <section class="album-container">
        <app-choose-media-product [mediaId]="formGroup.get('albumId')?.value"
          (mediaProductEmit)="handleMediaProduct($event)"></app-choose-media-product>
      </section>
    </div>
  </mat-card-content>
  <mat-card-actions>
    @if (product?._id) {
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()"
      [disabled]="formGroup.invalid || (isFormChanged$ | async) === false">
      Lưu
    </button>
    }@else {
    <button mat-raised-button color="primary" type="button" (click)="onSubmit()" [disabled]="formGroup.invalid ">
      Tạo
    </button>
    }
  </mat-card-actions>
</mat-card>
}