mat-card {
  .horizontal-container {
    width: auto;
  }

  mat-card-content {
    .horizontal-container {
      align-items: flex-start;

      form {
        align-items: flex-start;
        max-width: 700px;

        mat-form-field,
        section {
          width: 100%;
        }

      }

      .album-container {
        margin: 0 0 0 15px;

        gallery {
          height: auto;
          margin: 10px 0;
        }
      }
    }
  }
}


@media screen and (max-width: 800px) {
  mat-card {

    mat-card-content {
      .horizontal-container {
        flex-direction: column-reverse;

        .album-container {
          margin: 0 0 15px 0 !important;

          gallery {
            width: auto;
          }
        }
      }
    }
  }
}