<div class="container vertical-container">
  <h2 mat-dialog-title>Trạng thái đơn hàng</h2>
  <mat-dialog-content>
    <mat-form-field>
      <mat-label>Chọn trạng thái đơn hàng</mat-label>
      <mat-select [formControl]="statusControl">
        @for (status of statuses; track $index) {
        <mat-option [value]="status" [disabled]="status === data">{{status}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Trở lại</button>
    <button mat-button [disabled]="statusControl.invalid" (click)="chooseStatus()" cdkFocusInitial>Hoàn
      thành</button>
  </mat-dialog-actions>
</div>