<div class="container vertical-container">
  <mat-toolbar>
    <button mat-icon-button [mat-dialog-close]>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Album</span>
  </mat-toolbar>
  <div mat-dialog-content>
    <swiper-container init="false" #swiper>
      <ng-container *ngFor="let gallery of data.metaData">
        <swiper-slide>
          <div class="slide-container">
            <ng-container *ngIf="gallery.video; else image">
              <video muted playsinline controls preload>
                <source [src]="gallery.src" type="video/webm; codecs=vp9">
                <source [src]="gallery.src" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </ng-container>
            <ng-template #image>
              <pinch-zoom [autoHeight]="true" style="height: 100%; width: 100%;">
                <img [src]="gallery.src" alt="">
              </pinch-zoom>
            </ng-template>
          </div>
        </swiper-slide>
      </ng-container>
    </swiper-container>
  </div>
</div>