<div class="center" #childElement>

  <div class="file-drop-container" [ngStyle]="{'display': fileUploads.length > 0 ? 'none' : 'block'}">
    <ngx-file-drop #fileDropRef dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
      (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave()" [dropZoneClassName]="'ngx-file-drop__drop-zone'"
      [multiple]="isMultiple" [accept]="accepts">
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <div class="drop-zone-container">
          <div class="drop-zone-text">
            <mat-icon>upload</mat-icon>
            <p>{{ isMultiple ? 'Kéo các hình ảnh vào đây' : 'Kéo hình ảnh vào đây' }}</p>
            <p>Hoặc</p>
          </div>
          <button mat-stroked-button type="button" (click)="openFileSelector()">
            {{ isMultiple ? 'Chọn nhiều file' : 'Chọn file' }}
          </button>
        </div>
      </ng-template>
    </ngx-file-drop>

    @if (isFileOverLimit) {
    <div class="warning-exceed-quantity">
      Vượt quá số lượng file cho phép
    </div>
    }
  </div>

  <div class="file-info-container horizontal-container" [ngStyle]="{'display': fileUploads.length > 0 ? 'flex' : 'none'}">
    <app-file-info [files]="files" (uploadFiles)="handleFilesUploaded($event)">
      @if(isMultiple){
      <button slot="footer" mat-button type="button" (click)="fileDropRef.openFileSelector()">
        <mat-icon>add</mat-icon>
        Thêm file
      </button>
      }
    </app-file-info>
  </div>
</div>