.order-items {
  mat-card-header {
    mat-card-title {
      >*:not(:first-child) {
        margin-left: 10px;
      }
    }
  }

  mat-card-content {
    mat-list {
      padding: 0;

      mat-list-item:not(:last-child) {
        margin-bottom: 10px;
      }

      mat-list-item {
        height: unset;
        padding: 0;

        div[matListItemAvatar] {
          margin: 0 16px 0 0;
          width: 160px;
          height: 90px;

          img {
            width: 100%;
          }
        }

        div[matListItemTitle] {
          margin: unset
        }

        div[matListItemTitle]::before {
          display: none;
        }

        div[matListItemLine]:before {
          display: none;
        }
      }
    }

    .order-item-will-change-container {
      margin-top: -32px;
      position: relative;
      padding: 5px;

      button[mat-icon-button] {
        position: absolute;
        top: 0px;
        right: 0%;
        color: #666;
      }

      h3 {
        margin: 0;
        color: #666;
      }

      background: #fffde7; // vàng nhạt
      border: 1px dashed #ffb300;
      border-radius: 6px;
      margin-left: 16px;
    }

    .order-summary {
      justify-content: flex-end;

      b {
        margin-left: 5px;
      }
    }
  }

  mat-card-actions {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 599px) {
  mat-card-content {
    .horizontal-container{
      flex-direction: column;
      .order-item-will-change-container {
        margin-left: 0;
        margin-top: 16px;
      }
    }
  }

}