<mat-card class="order-items">
  <mat-card-header>
    <mat-card-title>Sản phẩm đã đặt</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="horizontal-container">
      <mat-list>
        @for (orderItem of orderItems; track $index) {
        <mat-list-item (click)="onViewProduct(orderItem)">
          <div matListItemAvatar class="horizontal-container">
            <img [src]="orderItem.productThumbnail | prefixBackendStatic" [alt]="orderItem.productName"
              class="product-image">
          </div>
          <div matListItemTitle>
            <span class="product-name">{{orderItem.productName}}</span>
          </div>
          <div matListItemLine>
            <span>{{orderItem.productCode}}</span>
          </div>
          <div matListItemLine>
            <span>{{'('+(orderItem.price | vndCurrency)+')'}} x {{orderItem.quantity}}</span>
          </div>
        </mat-list-item>
        }
      </mat-list>

      @if(orderItemsWillChange && orderItemsWillChange.orderItems.length) {
        <!-- Display items that will change -->
      <div class="order-item-will-change-container">
        <button mat-icon-button (click)="onCancelChange()">
          <mat-icon>close</mat-icon>
        </button>
        <h3>Thông tin sẽ thay đổi</h3>
        <mat-list>
        @for (orderItem of orderItemsWillChange.orderItems; track $index) {
        <mat-list-item (click)="onViewProduct(orderItem)">
          <div matListItemAvatar class="horizontal-container">
            <img [src]="orderItem.productThumbnail | prefixBackendStatic" [alt]="orderItem.productName"
              class="product-image">
          </div>
          <div matListItemTitle>
            <span class="product-name">{{orderItem.productName}}</span>
          </div>
          <div matListItemLine>
            <span>{{orderItem.productCode}}</span>
          </div>
          <div matListItemLine>
            <span>{{'('+(orderItem.price | vndCurrency)+')'}} x {{orderItem.quantity}}</span>
          </div>
        </mat-list-item>
        }
      </mat-list>
      </div>
      }
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onChangeOrderItems(orderItems)" [disabled]="isDisabled">
      <mat-icon>edit</mat-icon>
      {{'Sửa lại'}}
    </button>
  </mat-card-actions>

</mat-card>