@if (orderItemEntity && orderItemEntity.orderItems) {
<div class="container vertical-container">
  <h2 mat-dialog-title>Sản phẩm trong đơn hàng</h2>
  <mat-dialog-content>
    <div class="vertical-container">
      <mat-form-field class="search-form-container">
        <mat-label>Tìm sản phẩm</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input #nameOrProductEl (keypress)="inputValueChange($event)" type="text" placeholder="Nhập tên hoặc mã sản phẩm" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onChooseProductEvent($event, auto); nameOrProductEl.value = ''" >
          @for (option of filteredOptions$ | async; track option) {
          <mat-option [value]="option">
            <div class="product-option">
              <img class="thumbnail" [src]="(option.album?.thumbnailUrl || '') | prefixBackendStatic" alt="">
              <span class="product-name">{{ option.name['vi'] }}</span>
              <span class="product-name">{{ option.inStock ? 'Còn hàng' : 'Hết hàng' }}</span>
              <span class="product-price">{{ option.price | vndCurrency }}</span>
            </div>
          </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mat-list>
        @for (orderItem of orderItemEntity.orderItems; track orderItem) {
        <mat-list-item #orderItemElement>
          <div matListItemAvatar class="horizontal-container">
            <img [src]="orderItem.productThumbnail | prefixBackendStatic" [alt]="orderItem.productName[lang]"
              class="product-image">
          </div>
          <div matListItemTitle>
            <span class="product-name">{{orderItem.productName[lang]}}</span>
          </div>
          <div matListItemLine>
            <span>{{orderItem.productCode}}</span>
          </div>
          <div matListItemLine>
            <div class="price-quantity-container horizontal-container">
              <span>{{(orderItem.price | vndCurrency)}}</span>
              <app-number-input [value]="orderItem.quantity" [allowZero]="true"
                (isZero)="onIsZero(orderItem, orderItemElement)"
                (valueChange)="orderItemsQuantityChange(orderItem, $event)"></app-number-input>
            </div>
          </div>

          <div matListItemMeta>
            <button mat-icon-button color="warn" (click)="removeOrderItem(orderItem, orderItemElement)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        }
      </mat-list>
    </div>
    <div class="summary-row total">
      <span class="label">Tổng cộng:</span>
      <span class="value">{{orderItemEntity.subTotal | vndCurrency}}</span>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Trở lại</button>
    <button mat-raised-button color="primary" [disabled]="(orderItemEntity.isChangedItems$ | async) === false"
      (click)="onSaveChanges()">Lưu thay đổi</button>
  </mat-dialog-actions>
</div>
}