<form>
  <mat-form-field appearance="fill" subscriptSizing="dynamic">
    <mat-label>Media danh mục</mat-label>
    <input #mediaProductEl type="text" matInput [matAutocomplete]="mediaProductElAuto"
      (blur)="onMediaProductBlur($event)">
    <mat-icon matSuffix>photo_library</mat-icon>
    <mat-autocomplete #mediaProductElAuto="matAutocomplete"
      (optionSelected)="onMEdiaOptionSelected($event)">
      @for (mediaProduct of mediaProduct$ | async; track mediaProduct) {
      <mat-option [value]="mediaProduct">
        <mat-list-item>
          <div matListItemAvatar>
            <img [src]="mediaProduct.thumbnailUrl | prefixBackendStatic">
          </div>
          <div matListItemTitle>{{mediaProduct.name}}</div>
          <div matListItemLine>
            {{mediaProduct.slug}}
          </div>
        </mat-list-item>
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

@if (mediaProductSelected; as mediaProduct) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{mediaProduct.name}}</mat-card-title>
        <mat-card-subtitle>{{mediaProduct.slug}}</mat-card-subtitle>
        <img mat-card-sm-image [src]="mediaProduct.thumbnailUrl| prefixBackendStatic"
          [alt]="mediaProduct.name">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{mediaProduct.description}}
    </mat-card-content>
  </mat-card>
}