<mat-card>
  <mat-card-header>
    <mat-card-title>Trạng thái đơn hàng</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="raw-status-container vertical-container">
      @if (status) {
      <div class="status-item horizontal-container">
        <span class="label horizontal-container">
          <mat-icon>local_shipping</mat-icon>
          Trạng thái:
        </span>
        <div [appOrderStatusColor]="status">
          <mat-chip selected>
            {{status}}
          </mat-chip>
        </div>
      </div>
      }

      @if(paymentMethod){
      <div class="status-item horizontal-container">

        <span class="label horizontal-container">
          <mat-icon>payment</mat-icon>
          Thanh toán:
        </span>
        <span class="value">{{paymentMethod}}</span>
      </div>
      }
    </div>

    <!-- @if (orderStatusChange || orderPaymentMethodChange) { -->
    @if (orderPaymentMethodChange) {
    <div class="order-status-will-change-container raw-status-container vertical-container">
      <button mat-icon-button (click)="onCancelChange()">
        <mat-icon>close</mat-icon>
      </button>
      <h3>Tổng kết đơn hàng sẽ thay đổi</h3>
      <!-- @if (orderStatusChange) {
      <div class="status-item horizontal-container">
        <span class="label horizontal-container">
          <mat-icon>local_shipping</mat-icon>
          Trạng thái:
        </span>
        <div [appOrderStatusColor]="orderStatusChange">
          <mat-chip selected>
            {{orderStatusChange}}
          </mat-chip>
        </div>
      </div>
      } -->

      @if(orderPaymentMethodChange){
      <div class="status-item horizontal-container">
        <span class="label horizontal-container">
          <mat-icon>payment</mat-icon>
          Thanh toán:
        </span>
        <span class="value">{{orderPaymentMethodChange}}</span>
      </div>
      }
    </div>
    }
  </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-raised-button (click)="editStatus()">
      <mat-icon>edit</mat-icon>
      {{'Sửa trạng thái'}}
    </button> -->

    <button mat-raised-button (click)="editPaymentMethod()" [disabled]="isDisabled">
      <mat-icon>edit</mat-icon>
      {{'Sửa thanh toán'}}
    </button>
  </mat-card-actions>
</mat-card>